<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <i class="far fa-bookmark"></i>
            分类
        </h1>
    </div>
    <div class="list-group" id="cate-list">
        <!-- Ajax获取文章分类的Json数据 -->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <i class="fas fa-book"></i>
            热门文章
        </h1>
    </div>
    <div class="list-group" id="hot-list">
        <!-- Ajax获取热门文章的Json数据 -->
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">
            <i class="fas fa-book"></i>
            最新文章
        </h1>
    </div>
    <div class="list-group" id="new-list">
        <!-- Ajax获取最新文章的Json数据 -->
    </div>
</div>
