{% extends 'blog_base.html' %}
{% block titile %}
    文章列表
{% endblock titile %}

{% block content %}
    {% for article in articles %}
        <article>
            <h2>
                <a href="{% url 'blog:article' article.id %}">{{ article.title }}</a>
            </h2>
            <p>{{ article.detail| truncatechars:50|striptags }}</p>
            <p class="pull-right">
                <i class="far fa-bookmark"></i>
                <span class="label label-default">
                    {{ article.category }}
                </span>
            </p>
            <ul class="list-inline">
                <li>
                    <i class="far fa-user"></i>
                    <a href="">{{ article.author }}</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-time"></span>
                    发布于{{ article.pub_date }}
                </li>
                <li>
                    <i class="far fa-comment"></i>
                    <a href="{% url 'blog:article' article.id %}#comments">评论({{ article.comment_cout }})</a>

                </li>
                <li>
                    <i class="fas fa-eye"></i>
                    阅读({{ article.get_read_num }})
                </li>

            </ul>
        </article>
        <hr>
    {% endfor %}

    <nav aria-label="Page navigation" class="col-sm-offset-5">
        <ul class="pagination">
            <li>
                <a href="?page=1" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% for page in articles.paginator.page_range %}
                <li><a href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}


            <li>
                <a href="?page={{ articles.paginator.num_pages }}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock content %}