{% extends 'blog_base.html' %}
{% block titile %}
    文章列表
{% endblock titile %}

{% block content %}
    {% for article in articles %}
        <article>
            <h2>
                <a href="{% url 'blog:article' article.id %}" target="_blank">{{ article.title }}</a>
            </h2>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="用户头像" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <p class="media-heading">{{ article.detail|striptags|truncatechars:70 }}</p>
                    ...
                </div>
            </div>

            <p class="pull-right">
                <i class="far fa-bookmark"></i>
                <span class="label label-default">
                    {{ article.category }}
                </span>
            </p>
            <ul class="list-inline">
                <li>
                    <i class="far fa-user"></i>
                    <a href="{% url 'user:user_index' %}">{{ article.author }}</a>
                </li>
                <li>
                    <span class="glyphicon glyphicon-time"></span>
                    发布于{{ article.pub_date }}
                </li>
                <li>
                    <i class="far fa-comment"></i>
                    <a href="{% url 'blog:article' article.id %}#comments">评论({{ article.comment_cout }})</a>

                </li>
                <li>
                    <i class="fas fa-eye"></i>
                    阅读({{ article.get_read_num }})
                </li>

            </ul>
        </article>
        <hr>
    {% endfor %}

    <!-- 分页 -->
    {% include 'blog/tags/pagination.html' %}
    <!-- 分页结束 -->

{% endblock content %}

{% block content-right %}
    <div class="col-sm-3">
            {% include 'blog/tags/cate_menu.html' %}
        </div>
{% endblock content-right %}