{% extends 'user_base.html' %}
{% load static %}

{% block titile %}
    新文章
{% endblock titile %}

{% block content %}
    <form action="{% url 'blog:edit_article' article.id %}" role="form"
          class="form-horizontal" method="POST" id="article_form">
        {% csrf_token %}
        <div class="form-group">
            <label for="" class="col-sm-2 control-label">标题：</label>
            <div class="col-sm-10">
                {{ form.title }}
            </div>
        </div>

        <div class="form-group">
            <label for="article_detail"
                   class="col-sm-2 control-label">内容：</label>
            <div class="col-sm-10">
                    {{ form.detail }}
                <input type="hidden" name="ck_detail" id="hidden_detail">
            </div>
        </div>

        <div class="form-group">
            <label for="" class="col-sm-2 control-label">分类：</label>
            <div class="col-sm-4">
                {{ form.category }}
            </div>
        </div>

        <!-- 确定 发布 或 保存 -->
        <input type="hidden" id="article_status" name="article_status" value="{{ form.pub_status }}">
        {{ form.pub_status }}

        <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
                <button type="button" class="btn btn-primary btn-lg"
                id="article_submit">发布</button>
                <button type="button" class="btn btn-default btn-lg"
                   id="save_article">保存草稿</button>
            </div>
        </div>
    </form>
    <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
    <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
{% endblock content %}


{% block script %}

    <script>
        $("textarea").addClass("form-control");

        // 文章保存按钮(点击后文章转态字段设置为0即"未发布")
        $("#save_article").click(function () {
            var form = $("#article_form");
            form.find("#id_pub_status").val("False");
            window.onbeforeunload = null;
            form.submit();
        });

        // 文章发布按钮
        $("#article_submit").click(function () {
            // 解绑离开页面的弹窗确认
            var form = $("#article_form");
            form.find("#id_pub_status").val("True");
            window.onbeforeunload = null;
            form.submit();
        });

        window.onbeforeunload = function () {
            return confirm("确定离开此页面吗？未保存的数据将会丢失！");
        };
    </script>
{% endblock %}


