{% extends 'user_base.html' %}
{% block titile %}
发件箱
{% endblock titile %}

{% block content %}
    <ul class="nav nav-tabs mytab" role="tablist">
        <li role="presentation" class=""><a
                href="{% url 'sitemsg:inbox' %}">收件箱</a></li>
        <li role="presentation" class="active"><a
                href="{% url 'sitemsg:outbox' %}">发件箱</a></li>
        <li role="presentation" class=""><a href="{% url 'sitemsg:unread' %}">未读消息</a></li>
    </ul>

    <table class="table">
        <thead>
        <tr>
            <td>状态</td>
            <td>收信人</td>
            <td>标题</td>
            <td>发送时间</td>
            <td>操作</td>

        </tr>
        </thead>
        <tbody>
        {% for msg in outbox %}
            <tr>
                <td>{{ msg.msg_status }}</td>
                <td>{{ msg.recv_user }}</td>
                <td><a href="{% url 'sitemsg:msg_detail' msg.id %}?next={{ request.path }}">{{ msg.msg_title }}</a></td>
                <td>{{ msg.send_date }}</td>
                <td><a href="{% url 'sitemsg:del_msg' msg.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock content %}